<!-- /templates/{{ template }}.liquid -->
<div class="Article container l">
  <div class="row">
    <article class="column l8 m8 s12" itemscope itemtype="http://schema.org/Article">
      <header>
        <h1>
          {{ article.title }}
          {% for tag in article.tags %}
            {% if tag contains '_' %}
            -
            {{tag | split:'_' | first }} {{tag | split:'_' | last }}
            {% endif %}
          {% endfor %}
        </h1>
      </header>

      <div class="Article__body rte" itemprop="articleBody">
        {{ article.content }}
      </div>
    </article>

    <aside class="Article__sidebar-column column l4 m4 s-hide" role="complementary">
      {% include 'related-sidebar' %}
    </aside>
  </div>
</div>
