<!-- /snippets/theme-nav.liquid -->
{% for link in linklists.main-menu.links %}
  {% assign index = forloop.index %}
  {% if index == 1 or index == 3 %}
  <div class="Nav__half Nav__half--{{index}}">
  {% endif %}
  {% if link.levels > 0 %}
    <li class="Nav__main-link Nav__dropdown dropdown Nav__main-link--{{forloop.index}}" aria-haspopup="true">
      <a href="{{ link.url }}" class="Nav__parent nav-link{% if link.active %} active{% endif %}"{% if theme-nav == 'toggled' %} data-trigger="popup" data-target="{{ link.title | handleize | prepend: '#Nav_' }}"{% endif %}>
        {{ link.title }}
      </a>
      <ul{% if theme-nav == 'toggled' %} id="{{ link.title | handleize | prepend: 'Nav_' }}"{% endif %} class="Nav__dropdown-menu dropdown-menu">
        <div class="Nav__dropdown-menu-links">
        {% for childlink in link.links %}
          <li>
            <a href="{{ childlink.url }}" class="Nav__headinglink nav-link{% if childlink.active %} active{% endif %}">{{ childlink.title }}</a>
            {% if childlink.links %}
              {% for grandchildlink in childlink.links %}
                <a href="{{ grandchildlink.url }}" class="Nav__sublink nav-link{% if grandchildlink.active %} active{% endif %}">{{ grandchildlink.title }}</a>
              {% endfor %}
            {% endif %}
          </li>
        {% endfor %}
        </div>
      </ul>
    </li>
  {% else %}
    <li class="Nav__main-link">
      <a href="{{ link.url }}" class="Nav__link Link--underline nav-link{% if link.active %} active{% endif %}">{{ link.title }}</a>
    </li>
  {% endif %}
  {% if index == 2 or index == 4 %}
  </div>
  {% endif %}
{% endfor %}
