<!-- /snippets/{{ section.id }}.liquid -->

{% assign show_subscribe = section.settings.show_subscribe %}
{% assign show_social = section.settings.show_social %}
{% assign show_gateways = section.settings.show_gateways %}
{% assign show_attribution = section.settings.attribution %}
{% assign form_heading = section.settings.form_heading %}
{% assign form_email_placeholder = section.settings.form_email_placeholder %}
{% assign form_button_text = section.settings.form_button_text %}
{% assign form_success = section.settings.form_success %}
{% assign form_show_button = section.settings.form_show_button %}
{% assign noMarginTemplates = 'customers/login, customers/register' %}
<div class="{% unless noMarginTemplates contains template %}margin-top-18x s-margin-top-4x{% endunless %}">
<div class="Newsletter__container container l">
  <div class="Newsletter">
    <img src="{{'lion.png' | asset_url}}" alt="Proraso Lion">
    <h5 class="Newsletter__heading">{{section.settings.form_heading}}</h5>
    <p class="Newsletter__subheading">{{section.settings.form_subheading}}</p>
    <div class="Newsletter__form">
      {% include 'form-subscribe' %}
    </div>
    {% if show_social %}
      {% include 'social-links' %}
    {% endif %}
  </div>
</div>
<footer class="Footer theme-footer padding-top-5x s-padding-top-4x" role="contentinfo" style="background-image:url('{{section.settings.footer_background | img_url:'master'}}');">
  <div class="container l">
    <div class="row">
      <div class="column l6 m6 s12"></div>
      <div class="Footer__half column l6 m6 s12">
        <div class="Footer__columns">
          {% for link in linklists[section.settings.footer_nav].links %}
            <div class="Footer__column js-footerColumn">
            <button class="js-footerNavToggle" type="button">
              <h5 class="Footer__nav__heading">
                {{link.title}}
              </h5>
              </button>
              {% if link.levels > 0 %}
              <ul class="Footer__nav__links">
                {% for childlink in link.links %}
                <li class="Footer__nav__link">
                  <a href="{{childlink.url}}">{{childlink.title}}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>  
    </div>
  </div>
  <div class="Footer__copyright-section">
    <div class="container l center">
      <div class="row">
        <div class="column l5 m12 s12 l-right v-middle">
          <div class="Footer__copyright Footer__copyright--desktop">Copyright &copy; {{ 'now' | date: "%Y" }} Proraso 
            {% if show_attribution %}
              | <a href="https://parkfieldcommerce.com" target="_blank" rel="nofollow">Design & Dev by Parkfield Commerce</a>
            {% endif %}
          </div>
          <div class="Footer__copyright Footer__copyright--mobile">Copyright &copy; {{ 'now' | date: "%Y" }} Proraso 
            {% if show_attribution %}
              <br><a href="https://parkfieldcommerce.com" target="_blank" rel="nofollow">Design & Dev by Parkfield Commerce</a>
            {% endif %}
          </div>
        </div>
        <div class="column l7 m12 s12 l-left v-middle">
          <div class="Footer__payments">
          {% if show_gateways %}
            {% include 'payment-gateways' %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type":"image_picker",
        "id":"footer_background",
        "label":"Footer Background"
      },
      {
        "type":"link_list",
        "id":"footer_nav",
        "label":"Footer Navigation"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social media icons"
      },
      {
        "type": "checkbox",
        "id": "show_gateways",
        "label": "Show payment gateway icons",
        "info": "Relevant payment icons will appear automatically when configured in [Payment Settings](/admin/settings/payments)"
      },
      {
        "type":"checkbox",
        "id":"attribution",
        "label":"Show Design Agency Attribution"
      },
      {
        "type": "header",
        "content": "Subscribe form"
      },
      {
        "type": "text",
        "id": "form_heading",
        "label": "Heading",
        "placeholder": "Sign up for our Newsletter"
      },
      {
        "type": "text",
        "id": "form_subheading",
        "label": "Subheading",
        "placeholder": "Get exclusive discounts and offers"
      },
      {
        "type": "text",
        "id": "form_email_placeholder",
        "placeholder": "Your email address",
        "label": "Email placeholder"
      },
      {
        "type": "text",
        "id": "form_button_text",
        "label": "Button",
        "placeholder": "Sign Up"
      },
      {
        "type": "textarea",
        "id": "form_success",
        "placeholder": "Thank you for subscribing!",
        "label": "Confirmation message"
      }
    ]
  }
{% endschema %}
